@charset "UTF-8";

@font-face {
    font-family: 'MYArirang_gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYArirang_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{font-family: 'MYArirang_gothic';}

#mycontainer	{ padding:20px; }
#myheader		{ display: flex; min-height:100px; position: relative; top: 60px;}
#mycontent		{ min-height:900px; position: relative; top:60px; padding-top: 40px; background-color:#F5F5F5;}
#myfooter		{ display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px;}
	
#myheader a {text-decoration:none;}