@charset "UTF-8";

body {font-family: Arial, Helvetica, sans-serif, 돋움; }

#myheader		{ display: flex; min-height:65px;}
#mycontent		{ min-height:1200px; position: relative; top:60px; padding-top: 40px; background-color:#F5F5F5;
                  float:right; width:90%; }

#mysidebar		{ min-height:1200px; position: relative; top:60px; padding-top: 40px; background-color:#F0FFFF;
                  float:left; width:10%; }

#myfooter		{ display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px; 
	              clear:both; }
 