@charset "UTF-8";

@font-face {
    font-family: 'MYArirang_gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYArirang_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{font-family: 'MYArirang_gothic';}


#mycontainer{
}

#myheader{
position: fixed;
width: 100%;
}

#mysidebar{
margin-top: 95px;
position: fixed;
height: 858px;
width: 5%;
}

#mycontent{
margin-top: 95px;
margin-left: 5%;
min-height: 1000px;
width: 95%;
}

#myfooter{
}

#side_content {
display: flex;
}